body {
  background-color: #212121;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.bottom-nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 7;
}

h1 {
  color: #b3b3b3;
}

h5 {
  color: #b3b3b3;
}

h2 {
  color: #ef9a9a;
}
